// PRIMARY COLOR
$main-color: #384054;
$accent-button: #cf6341;
$accent-button-hover: #a04f35;
$accent-button-pressed: #733b2b;
$accent-elements: #c1ab91;

// SECONDARY COLOR
$secondary-color: #e5bb8a;
$secondary-light-color: #eeebe5;
$danger: #9d222a;
$danger-hover: #7a1e24;
$danger-pressed: #59191f;
$grey: #c6c7c7;
$gray-2: #c4c4c4;

// BACKGROUND
$light-grey: #f6f6f7;
$background: $secondary-light-color;

// SYSTEM COLOR
$white: #fff;
$dark-grey: #7e838d;
$black: #0e0f12;

//$opacity-color:
$primary: $accent-button;
