html,
body {
  color: $main-color;
  font-family: $font-main;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

::selection {
  background-color: rgba($primary, 1);
  color: $white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  margin-top: 0;
}

p {
  margin: 0 0 2rem;

  &:last-child {
    margin: 0;
  }
}

a {
  @include behavior("color", $accent-button, $accent-button-hover, $accent-button-pressed);

  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

hr {
  background-color: $grey;
  border: none;
  height: 1px;
}

#fp_embed_player .video {
  background: #7a1e24 !important;
  height: auto !important;
}
